/*RESET - CSS를 리셋*/
*,:before,:after {margin: 0; padding: 0; color: inherit; text-decoration: inherit; font-style: inherit; border: 0px solid transparent; outline: 0 solid transparent; background: transparent none center center no-repeat; box-sizing: border-box;}
ul, ol {list-style: none;}
table {table-layout: fixed;}
h1, h2, h3, h4, h5, h6,p {font-size: inherit; font-weight: inherit;font-size: 14px; }
label, button, [type=button], [type=submit], [type=reset], a {cursor: pointer;}
button, input, optgroup, select, textarea {font: inherit; margin: 0;}

/*CLASS - 내가 쓸 CLASS를 미리 작성*/
.clearfix:after {content: ""; display: block; clear: both;}
.ellipsis {text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
.hidden {display: none; width: 0; height: 0; visibility: hidden; opacity: 0;}
.bold {font-weight: 700;}
.limit {}
.limit:before {content: "한정재고";display: inline-block; font-size: 0.85714rem;color: #111;font-weight: bold;padding: 3px 7px;text-decoration: none;margin-right: 3px;line-height: 1;border: 1px solid #111;}


.price{font-size: 1rem; color: #111; line-height: 1.4; margin-top: 10px;font-weight: bolder;}
.price:before {content: "₩";}
.save{padding: 0 20px; height: 46px; font-size: 1rem;font-weight: 600;line-height: 42px; color: #2d2d2d; border: 2px solid #111; background-color: #fff;}
.save:hover{background-color: #111; color: #fff;}
.like{margin-left: 20px; display: inline-block; width: 38px; height: 48px; background: url(../img/icon-wishlist.svg) 0 center no-repeat; background-size: 36px; cursor: pointer;}
.like.on{background: url(../img/icons_wishlist_filled.svg) 0 center no-repeat; background-size: 36px;}
.new{position: relative;}
.new:after{content: "NEW"; position: absolute;top: 10px;right: 0;width: 73px;height: 73px;line-height: 73px;border-radius: 50%;text-align: center; background-color: #111; color: #fff; font-weight: 600;font-size: 1.14286rem;}
.hotsale{position: relative;}
.hotsale:after{content: "HOT\ASALE";white-space:pre;padding-top: 20px; position: absolute;top: 10px;right: 0;width: 73px;height: 73px;line-height: 1;border-radius: 50%;text-align: center; background-color: #c84b47; color: #fff; font-weight: 600;font-size: 1.14286rem;}
.bestseller{position: relative;}
.bestseller:after{content: "BEST\ASALLER";white-space:pre;padding-top: 20px; position: absolute;top: 10px;right: 0;width: 73px;height: 73px;line-height: 1;border-radius: 50%;text-align: center; background-color: #111; color: #fff; font-weight: 600;font-size: 1.14286rem;}

/*GLOBAL - 홈페이지 전역에 들어갈 공통된 CSS*/
[type=checkbox], [type=radio] {display: none;}
.inner {display: block; position: relative; margin: auto; max-width: 1272px;height: 100%;}
.inner:after {content: ""; display: block; clear: both;}

html {font-size: 14px;}
#wrap {color: #111; font-family: "Open Sans", "Noto Sans KR", "Malgun Gothic", "맑은 고딕", "돋움", Dotum, Helvetica, Arial, sans-serif; line-height: 1.58571; background: transparent; -webkit-text-size-adjust: none;}

/* LAYOUT - 홈페이지 전역의 레이아웃 */
#wrap {}
h3 {text-align: center;font-size: 1.78571rem;font-weight: bold; color: #2d2d2d; letter-spacing: -1px; margin-bottom: 50px}

/* HEADER - 헤더에 들어갈 CSS */
.PC {position: fixed;top: 0;left: 0;padding: 15px 48px 0; width: 100%;background-color: #fff;z-index: 99;}
#headerUtil {position: relative; overflow: hidden;max-width: 1272px;margin: auto;}
#headerUtil .etc-wrap {float: left;}
#headerUtil .etc-wrap a{display: inline-block;font-size: 12px;color: #2d2d2d;}
#headerUtil .etc-wrap a+a{margin-left: 12px;}
#headerUtil .etc-wrap a i{display: inline-block;}
#headerUtil .etc-wrap a span{display: inline-block;margin-left: 5px; line-height: 24px;vertical-align: top;}
#headerUtil .etc-wrap a.place i{width: 17px;height: 24px;}
#headerUtil .etc-wrap a.card i{width: 24px;height: 24px;}
#headerUtil .logo {position: absolute;margin-left: -130px;top: 0;left: 50%;width: 260px;}
#headerUtil .logo a{display: block;}
#headerUtil .logo a img{display: block;width: 100%;}
#headerUtil .global-wrap {float: right;}
#headerUtil .global-wrap .article{float: left;margin-right: 2px;}
#headerUtil .global-wrap .article a{position: relative;display: inline-block; margin-left: 20px;font-size: 12px;color: #2d2d2d;}
#headerUtil .global-wrap .article a img{height: 24px;}
#headerUtil .global-wrap .article a strong{position: absolute; display: block; right: -4px; bottom: -3px; width: 20px; height: 20px; line-height: 16px; font-size: 11px; font-weight: normal; color: #fff; text-align: center; background-color: #000; border: 2px #fff solid; border-radius: 100%;}

#headerNav {margin:21px auto 0;position: relative;max-width: 1272px;}
#headerNav .Nav{overflow: hidden;height: 41px;padding-right: 215px;}
#headerNav .Nav>li{display: inline-block; padding: 0 17px; height: 41px;font-size: 14px;font-family: "Interstate Condensed", "Open Sans", "Noto Sans KR", "Malgun Gothic", "맑은 고딕", "돋움", Dotum, Helvetica, Arial, sans-serif;font-weight: bold;text-transform: uppercase;}
#headerNav .Nav>li:first-child {padding-left: 0px;}
#headerNav .Nav>li>a{display: block;line-height: 25px;border-bottom: 2px solid transparent;}

#headerNav .subcategory-wrap {display: none; position: absolute; top: 20px;left: 0;right: 0;padding-top: 21px;z-index: 99;}

#headerNav .Nav>li a:hover+.subcategory-wrap {display: block;}
#headerNav .Nav .subcategory-wrap:hover {display: block;}
#headerNav .Nav>li:hover a {border-bottom-color: #000;}
#headerNav .subcategory-wrap .subcategory {padding: 24px 194px; overflow: hidden; background-color: #f7f7f7;}
#headerNav .subcategory-wrap .subcategory ul{float: left;}
#headerNav .subcategory-wrap .subcategory .subcate{width: 180px;}
#headerNav .subcategory-wrap .subcategory .subcate li{margin-bottom: 15px;}
#headerNav .subcategory-wrap .subcategory ul li.subcate-item{margin-bottom: 0;line-height: 20px;font-size: 12px;color: #313131;font-weight: normal;}
#headerNav .subcategory-wrap .subcategory .subcateimg{width: 315px;}
#headerNav .subcategory-wrap .subcategory .subcateimg li{height: 169px;}
#headerNav .subcategory-wrap .subcategory .subcateimg li img{width: 100%;height: 100%;}
#headerNav input {position: absolute;right: 0;top: -8px; display: block;padding: 11px 14px 10px 10px;height: 41px;width: 215px;font-weight: bold; border: 1px solid #000;font-size: 12px;color: #b9b9b9;}
header .delivery-msg-desktop {max-width: 1272px;margin: auto;height: 28px; line-height: 28px; text-align: center; background-color: #f0f0f0;}
header .delivery-msg-desktop a{font-size: 12px;color: #000;}
header.mobile{padding-top: 15px;}
header.mobile>ul{overflow: hidden;height: 46px;}
header.mobile>ul li{float: left;width: 18%;text-align: center;}
header.mobile ul li.logo{width: 28%;}
header.mobile ul li.logo img{width: 100%;}
header.mobile ul li a{}
header.mobile ul li a i{}
header.mobile ul li i img{width: 22px;height: 22px;}
#hamburger {position: fixed;top: 0;right: 100%;width: 100%;height: 100%;background-color: #fff;z-index: 100;}
#hamburger h3{margin-bottom: 0;background-color: #ddd;line-height: 60px;}
#hamburger h3 .close {position: absolute;top: 0;right: 18px;}
#hamburger h3 .close img{width: 18px;height: 18px;}
#hamburger ul{}
#hamburger ul li{position: relative; display: block; height: 48px;padding: 0 18px; line-height: 48px; color: #111; font-weight: bold; text-decoration: none; text-transform: uppercase;border-bottom: 1px solid #ddd;}
#hamburger ul li a{}
#hamburger ul li a img{position: absolute;top: 16px;right: 16px; width: 9px;height: 16px;}
#hamburger .cart-btn {position: absolute;left: 0;right: 0;bottom: 0;height: 68px;padding-top: 13px;background-color: #111;text-align: center;}
#hamburger .cart-btn img {width: 28px;height: 28px;}
#hamburger .cart-btn span {display: block;color: #fff;font-size: 11px;}

#container {padding-top: 135px;}
/* Footer - 푸터에 들어갈 CSS */
footer {padding-top: 80px;}
#footer-util-bar {padding: 8px 0;background-color: #f0f0f0;text-align: center;}
#footer-util-bar .sns{display: inline-block;padding: 6px 0;}
#footer-util-bar .sns a{display: inline-block;}
#footer-util-bar .sns a+a{margin-left: 52px;}
#footer-util-bar .sns a img{width: 30px;height: 30px;}
#footer-util-bar .newsletterSendBtn{display: inline-block;margin:4px 0 4px 62px;width: 284px;height: 42px;font-size: 14px; line-height: 38px; color: #2d2d2d; text-align: center; border: 2px #111 solid;vertical-align: top;}
#footer-region {}
#footer-region .footer-regionwrap{overflow: hidden;margin-top: 50px;padding-left: 136px;}
#footer-region .footer-regionwrap dl {float: left;width: 246px;}
#footer-region .footer-regionwrap dl:nth-child(3) {float: left;width: 111px;}
#footer-region .footer-regionwrap dl:last-child {float: right;}
#footer-region .footer-regionwrap dl dt{line-height: 20px;margin-bottom: 5px;font-size: 13px;font-weight: 700;text-transform: uppercase;color: #2d2d2d;}
#footer-region .footer-regionwrap dl dt b{text-decoration: underline;}
#footer-region .footer-regionwrap dl dt+dt{padding-top: 10px;}
#footer-region .footer-regionwrap dl dd{line-height: 20px;margin-bottom: 5px;font-size: 13px;}
#footer-region-columns {margin-top: 37px; padding-left: 136px;}
#footer-region-columns p{font-size: 12px;color: #2d2d2d;font-weight: bold;}
#footer-region-columns p img{margin-left: 5px;}
#footer-region-columns address {font-style: normal; font-size: 12px; }
#footer-region-columns address span {color: #7d7d7d; padding-right: 8px; }
#footer-region-columns address span em { font-style: normal; color: #2d2d2d; }
#footer-region-columns address a {color: #111;text-decoration: underline;}


#product {}
#product section{padding: 55px 0;border-bottom: 1px solid #e1e1e1;}
/*#product section*/	
	.listWrap {padding: 0 10px;}
	.listWrap .item{}
	.listWrap .item a{display: block;}
	.listWrap .item .thumb{}
	.listWrap .item .thumb img{display: block;}
	.listWrap .item .cnt{padding-top: 20px;text-align: center;}
	.listWrap .item .cnt span{display: block;}
	.listWrap .item .cnt .tit{padding-top: 2px;font-size: 1rem; color: #2d2d2d; text-decoration: none; height: 2.8em; line-height: 1.4; overflow: hidden; text-overflow: ellipsis;}
	.listWrap .item .cnt .star-appraisal {display: block;margin-bottom: 10px;}
	.listWrap .item .cnt .star-appraisal .star-score-box{position: relative; display: block;margin: auto;width: 74px;height: 12px;background: url("../img/icon-star.png") 0 0 repeat-x;}
	.listWrap .item .cnt .star-appraisal .star-score-box .starGeade{position: absolute;top: 0;left: 0; height: 12px;background: url("../img/icon-start.png") 0 0 repeat-x;}
	
	/*.listWrap .item .cnt .star-appraisal .star-score-box */
		.starGeade.grade{width: 0px;}
		.starGeade.grade1{width: 18px;}
		.starGeade.grade2{width: 32px;}
		.starGeade.grade3{width: 46px;}
		.starGeade.grade4{width: 60px;}
		.starGeade.grade5{width: 74px;}
		
	.listWrap .item .like-save-zone {margin-top: 9px;text-align: center;}
	.listWrap .item .like-save-zone button{vertical-align: middle;}
#product .owl-nav button span{display: block;width: 24px;height: 24px;text-indent: -9999px;}
#product .owl-nav .owl-prev {left: -10px;}
#product .owl-nav .owl-next {right: -10px;}
#product .owl-nav .owl-prev span{background-image: url(../img/carousel-left.png);}
#product .owl-nav .owl-next span{background-image: url(../img/carousel-right.png);}
/*#product...*/
      .owl-carousel {position: relative;}
      .owl-nav {}
      .owl-nav button {position: absolute;top: 50%;transform: translateY(-50%);}

    @media screen and (min-width: 1000px){
      header.mobile {display: none;}
      }

    @media screen and (max-width: 1000px){
      header.PC {display: none;}
      #container {padding-top: 0px;}
      #footer-region{display: none;}
      #footer-region-columns {padding-left:30px;padding-right: 30px;}
      }

   	@media (max-width: 481px){/*Mobile Size*/
      #visual .owl-nav button,
      .owl-nav button,
      #visual .owl-theme .item img:nth-child(1){display: none;}
      #visual .owl-theme .item img:nth-child(2){display: block;}
      #footer-util-bar .newsletterSendBtn {margin: auto;}
      }
